
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Polyfill(s) for older browsers -->
    <script src="~/Scripts/shim.min.js"></script>
    <script src="~/Scripts/zone.js"></script>
</head>
<body>
    <my-app>Loading...</my-app>
    <script src="~/Client/dist/bundle.js"></script>
</body>
</html>